div.racebot {
    background-color: white;
    color: black;
    width: 800px;
    height: 640px;
    border-radius: px;
    display: flex;
    flex-wrap: wrap;
}

/* Top two tracks */

.moneytrack {
    display: flex;
    border-radius: 5px;
    background-color: yellow;
    width: 40%;
}

.economytrack {
    display: flex;
    border-radius: 5px;
    background-color: #ccc;
    width: 40%;
}

.economytrack .element, .moneytrack .element {
    border: 1px dotted black;
    border-radius: 5px;
    margin: 3px;
    width: 50px;
    height: 50px;
}

.economytrack .element {
    background-color: #ccc;
}
.moneytrack .element { 
    background-color: white; 
}
.moneytrack .element:first-of-type {
    background-color: #ccc;
}

/* Player choice row */

.playerchoice {
    width: 100%;
}

.playerchoice .element {
    border-radius: 5px;
}

.playerchoice .element :nth-child(1) {
    border-radius: 5px;
}